@(backer: models.auth.User, originator: models.auth.User, project: models.core.Project, refundPeriod: Int)(implicit lang: Lang)

@import utils.common.env._

<p>@backer.firstName.map { firstName =>
@Messages("common.email.greeting.to", firstName)
}.getOrElse {
@Messages("common.email.greeting")
}</p>
<p>@Messages("core.email.backer.cashInPeriodExpiredNotification.body.1", originator.username.get, project.name.get)</p>
<p><a href="@(peers(WebApp).endPoint("getRefunded") + "?projectId=" + project.id.get + "&state=" + project.state.get.value)" class="btn btn-green-gradient">@Messages("core.email.backer.cashInPeriodExpiredNotification.getRefunded")</a></p>
@project.state.map { state =>
<p>@Messages("core.email.backer.cashInPeriodExpiredNotification.body.2", dateTime(state.timestamp.plusMinutes(refundPeriod), backer))</p>
}
<p>@Messages("common.email.salutation")</p>
