@(user: models.auth.User, jwt: String)(implicit lang: Lang)

@import utils.common.env._

<p>@user.firstName.map { firstName =>
@Messages("common.email.greeting.to", firstName)
}.getOrElse {
@Messages("common.email.greeting")
}</p>
<p>@Messages("auth.email.emailVerification.body.1")</p>
<p><a href="@(peers(WebApp).endPoint("verifyEmail") + "?jwt=" + jwt)" class="btn btn-green-gradient">@Messages("auth.email.emailVerification.verifyEmail")</a></p>
<p>@Messages("auth.email.emailVerification.body.2")</p>
<p>@Messages("common.email.salutation")</p>
